.hero{    
    position: relative;
    height: 500px;
    overflow: hidden; 
    background: url(/static/img/cactus-maseta.jpg) no-repeat center;
    background-size: cover;
}

.container-hero {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.container-hero h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
}

.container-hero h1 span{
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.des{
    margin: 20px;
    display: block;
    font-size: 26px;
    
}

.btn-hero{
    color: #313131;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    transition: 0.3s all;
}

.btn-hero:hover{
    opacity: 0.3;
}


@media screen and (max-width:768px){
    .container-hero h1{
        font-size: 60px;
    }
}
