.work{    
    position: relative;
    height: 500px;
    overflow: hidden; 
    background: url(/static/img/giphy.gif) no-repeat center;
    background-size: cover;
}

.container-work {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #ed8e00;
    text-transform: uppercase;
}

.container-work h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
}



.des-work{
    margin: 20px;
    display: block;
    font-size: 26px;
    
}

.btn-work{
    color: #313131;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    transition: 0.3s all;
}

.btn-work:hover{
    opacity: 0.3;
}